<div>
  <h1 style="text-align: center;">To Do App</h1>
  <div class="main-container">
    <mat-form-field class="white-background">
      <input matInput [(ngModel)]="currentToDo" (keydown.enter)="addToDo()">
    </mat-form-field>
  </div>

  <div class="to-do-list">
    <mat-list role="list">
      @for (todo of todoList; track todo.id) {
      <mat-list-item role="listitem">
        <div matListItemTitle [ngClass]="{'completed': todo.isComplete}" role="button" (click)="markAsCompleted(todo.id)">
          {{todo.name}}</div>
        <mat-icon matListItemIcon role="button" (click)="remove(todo.id)">delete</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
      }
    </mat-list>
  </div>
</div>